<div ng-controller="calismaGecmisiCtrl  as cgc" style="width:100%">
    <row>
        <table datatable="ng" id="calismaGecmisi"
                dt-options="dtOptionsg" dt-column-defs="dtColumnDefsg" class="table table-responsive  table-striped table-bordered table-hover dataTables-example row-border hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>No</th>
                    <th>Çalıştığı Yer</th>
                    <th>Başlama T.</th>
                    <th>Çıkış T.</th>
                    <th>Görevi</th>
                    <th>Ünvanı</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="calismaGecmisi in CalismaGecmisleri">
                    <td ng-bind="calismaGecmisi.Calisma_Gecmisi_Id"></td>
                    <td ng-bind="calismaGecmisi.$id"></td>
                    <td ng-bind="calismaGecmisi.Calistigi_Yer_Adi"></td>
                    <td ng-bind="formatDate(calismaGecmisi.Ise_Baslama_Tarihi)|date:dd/MMMM/yyyy"></td>
                    <td ng-bind="formatDate(calismaGecmisi.Isden_Cikis_Tarihi)|date:dd/MMMM/yyyy"></td>
                    <td ng-bind="calismaGecmisi.Gorevi"></td>
                    <td ng-bind="calismaGecmisi.Unvani"></td>
                </tr>
            </tbody>
        </table>
    </row>
    <row>
        <div class="m-t-n-lg" uib-collapse="isCollapsed">
            <form ng-submit="cgc.onSubmit()" novalidate>
                <formly-form model="cgc.model" fields="cgc.fields" form="cgc.form">
                    <button type="submit" class="btn btn-primary submit-button" ng-disabled="cgc.form.$invalid">Kaydet</button>
                    <button type="button" class="btn btn-success" ng-click="yeniCGC()" ng-disabled="!cgc.form.$valid">Yeni</button>
                    <button type="button" class="btn btn-danger" ng-click="silCGC()" ng-disabled="!cgc.form.$valid">Sil</button>
                    <button class="btn btn btn-warning" ngf-select="uploadFiles($files)" multiple
                            accept="image/*,application/pdf,application/msword,application/vnd.ms-excel,
application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ng-if="cgc.model.Calisma_Gecmisi_Id!=null">
                        Dosya Ekle
                    </button>
                </formly-form>
            </form>
        </div>
    </row>
    <row>
        <ul style="list-style-type: none;overflow: hidden;" ng-show="dosyaList">
            <li style="font:medium;color: mediumvioletred;float: left;margin-left:20px" ng-if="files.length>0?true:false">Eklenen Dosyalar :</li>
            <li ng-repeat="f in files" style="font:normal;float: left;margin-left:20px">
                <a ng-click="download(f)" ng-bind="f.FileName" tooltip-placement="bottom" uib-tooltip="İndir" tooltip-popup-delay="2500"></a>
                <i class="fa fa-remove" ng-click="deleten(f.GenericName , $index)" tooltip-placement="bottom" uib-tooltip="Sil" tooltip-popup-delay="2500"> </i>
            </li>
        </ul>
    </row>
</div>
