<div ng-controller="isgEgitimiCtrl  as iec" style="width:100%">
    <row>
        <table datatable="ng" id="isgEgitimi"
               dt-options="dtOptionsiec" dt-column-defs="dtColumnDefsiec" class="table table-responsive  table-striped table-bordered table-hover dataTables-example row-border hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>No</th>
                    <th>Tanımı</th>
                    <th>E.Türü</th>
                    <th>Süre/Dk.</th>
                    <th>Verildi T.</th>
                    <th>Eğitici</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="isgEgitimi in IsgEgitimleri">
                    <td ng-bind="isgEgitimi.Egitim_Id"></td>
                    <td ng-bind="isgEgitimi.$id"></td>
                    <td ng-bind="isgEgitimi.Egitim_Turu"></td>
                    <td ng-bind="isgEgitimi.Tanimi"></td>
                    <td ng-bind="isgEgitimi.Egitim_Suresi"></td>
                    <td ng-bind="formatDate(isgEgitimi.VerildigiTarih)|date:dd/MMMM/yyyy"></td>
                    <td ng-bind="isgEgitimi.IsgEgitimiVerenPersonel"></td>
                </tr>
            </tbody>
        </table>
    </row>
    <row>
        <div uib-collapse="isCollapsed" class="m-t-n-lg">
            <form ng-submit="iec.onSubmit()" novalidate>
                <formly-form model="iec.model" fields="iec.fields" form="iec.form">
                    <button type="submit" class="btn btn-primary submit-button" ng-disabled="iec.form.$invalid">Kaydet</button>
                    <button type="button" class="btn btn-danger" ng-click="siliec()" ng-disabled="!iec.form.$valid">Sil</button>
                    <button class="btn btn btn-warning" ngf-select="uploadFiles($files)" multiple
                            accept="image/*,application/pdf,application/msword,application/vnd.ms-excel,
application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ng-show="fileButtonShow">
                        Dosya Ekle
                    </button>
                </formly-form>
            </form>
        </div>
    </row>
    <row>
        <ul style="list-style-type: none;overflow: hidden;" ng-show="dosyaList">
            <li style="font:medium;color: mediumvioletred;float: left;margin-left:20px" ng-if="files.length>0?true:false">Eklenen Dosyalar :</li>
            <li ng-repeat="f in files" style="font:normal;float: left;margin-left:20px">
                <a ng-click="download(f)" ng-bind="f.FileName" tooltip-placement="bottom" uib-tooltip="İndir" tooltip-popup-delay="2500"></a>
                <i class="fa fa-remove" ng-click="deleten(f.GenericName , $index)" tooltip-placement="bottom" uib-tooltip="Sil" tooltip-popup-delay="2500"> </i>
            </li>
        </ul>
    </row>
    <div ng-init="yukleme()"> </div>
</div>