<div ng-controller="gbCtrl as gbC">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-xs-4">
            <a ui-sref="SM.SMCards({id:guid})">
                <img alt="image" class="img-thumbnail" ng-cloak ng-src="{{fileImgPath}}{{img}}"  on-error="defaultUser.png"  style="width: auto; height: auto;max-width: 75px;max-height: 90px;margin-left:-20px;margin-right:10px;float:left" />
            </a>
            <a ui-sref="SM.SMCards({id:guid})">
                <h3 style="color:yellow" ng-bind="AdSoyad"></h3>
            </a>
            <address class="m-t-n-sm m-b-n-lg">
                <strong ng-bind="Tetkik.sirketAdi"></strong>=><span ng-bind="Tetkik.bolumAdi"></span><br>
                <span ng-bind="Tetkik.data.Gorevi|degerYok"></span>=>
                <span ng-bind="Tetkik.data.KadroDurumu|degerYok"></span><br>
                <label> Sicil No:</label>{{Tetkik.data.SicilNo}}<label>Tc No :</label>{{Tetkik.data.TcNo}}<br>
            </address>
        </div>
        <div class="col-xs-4 m-t-md  m-b-n-lg">
            <label style="margin-bottom: 0px;">Kan Grubu :</label>{{Tetkik.data.KanGrubu}}
            <label style="margin-bottom: 0px;">Yaşı :</label><span ng-bind="Tetkik.data.PersonelDetayi.DogumTarihi | getAge"></span><br>
            <label style="margin-bottom: 0px;">Egitim Seviyesi :</label><span ng-bind="Tetkik.data.PersonelDetayi.EgitimSeviyesi|degerYok"></span><br>
            <label style="margin-bottom: 0px;">Telefon :</label><a style="color:yellow" href="tel:0{{Tetkik.data.Telefon}}" ng-bind="Tetkik.data.Telefon|tel"></a><br>
            <label style="margin-bottom: 0px;">Mail :</label><a style="color:yellow" href="mailto:{{Tetkik.data.Mail}}" ng-bind="Tetkik.data.Mail|degerYok"></a>
        </div>
        <div class="col-xs-4">
            <address class="m-t-md  m-b-n-lg pull-left">
                <span class="fa-stack fa-2x" ng-click="Ikaz(false)" style="cursor: pointer" ng-if="gbC.warning" tooltip-placement="right" uib-tooltip="{{gbC.warningLength}} Adet Uyarınız Var.">
                    <i class="fa fa-circle fa-stack-2x" style="color: #f7ef07;"></i>
                    <i class="fa fa-exclamation fa-stack-1x"></i>
                </span>
            </address>
            <a class="btn btn-xs btn-warning" ng-click="Ikaz(true)" ng-if="!gbC.warning"><i class="fa fa-exclamation"></i>&nbsp;Uyarılarımız</a>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12" ng-controller="personelViewCrtl as vm">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div ibox-tools style="float:right"></div>
                        <!--<a href="#" editable-select="nbv" e-ng-options="sx as sx.SirketAdi+' '+sx.SaglikBirimiAdi for sx in birimler" ng-bind="nbv.SirketAdi+' '+nbv.SaglikBirimiAdi||'Sağlık Birimini Seçiniz'"></a>
                        &nbsp;
                        <a href="#" editable-select="islem" e-ng-options="sx as sx.muayene for sx in islemler" ng-bind="islem.muayene||'İşlem Türünü Seçiniz'"></a>-->
                        <span>{{message}}</span>
                    </div>
                    <div class="ibox-content">
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".GenericUpdate({id:Tetkik.data.PerGuid})" ui-sref-active="current" ng-class="$state.includes('SM.Gb.GenericUpdate')?'btn btn-primary':'btn btn-default'">Kişisel</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".AdressUpdate({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.AdressUpdate')?'btn btn-primary':'btn btn-default'">Adres</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".CalismaDurumuUpdate({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.CalismaDurumuUpdate')?'btn btn-primary':'btn btn-default'">Çalışma Durumu</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".CalismaGecmisi({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.CalismaGecmisi')?'btn btn-primary':'btn btn-default'">Çalışma Geçmişi</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".EgitimHayati({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.EgitimHayati')?'btn btn-primary':'btn btn-default'">Eğitim Hayatı</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".DisRapor({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.DisRapor')?'btn btn-primary':'btn btn-default'">Dış Raporları</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".IcRapor({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.IcRapor')?'btn btn-primary':'btn btn-default'">İç Raporları</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".Ozurluluk({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.Ozurluluk')?'btn btn-primary':'btn btn-default'">Engellilik</button>
                        <button rp-only="['Admin','ISG_Admin','ISG_Hekim']" rp-behavior="hide" ui-sref=".IsgEgitimi({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.IsgEgitimi')?'btn btn-primary':'btn btn-default'">ISG Egitimi</button>
                        <button ui-sref=".Kkd({id:Tetkik.data.PerGuid})" ng-class="$state.includes('SM.Gb.Kkd')?'btn btn-primary':'btn btn-default'">KKD</button>
                        <div ui-view style="background:#f0f7f3;padding:10px 5px;width: 100%;height: 100%;display: inline-flex;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>