
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <!--<h3 class="logo-name" style="color: #f1f981">WSH+</h3>-->
            <img width="200" height="100" ng-src="{{fileImgPath2}}" />
        </div>
        <h4>
            <strong style="color:#bc8432">
                Workplace Safety and Health Plus
            </strong>
        </h4>
        <!--<p> {{message}}
            SuperPowerUser  <br/>  MySuperP@ss!
        </p>-->
        <!--<p>Giriş Kaydı</p>-->
        <div class="m-t" role="form">
            <div class="form-group">
                <input type="text" style="color: #f9f18a !important" class="form-control" placeholder="Kullanıcı Adı" data-ng-model="loginData.userName" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" style="color: #f9f18a !important" class="form-control" placeholder="Şifre" data-ng-model="loginData.password" required>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" data-ng-click="login()">Kayıt</button>

            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <img width="200" height="200" ng-src="{{fileImgPath}}"
                 alt="De Morbis Artificum Latince bir ifade olup, doğrudan çevirisi Ustaların Hastalıkları veya El Sanatçılarının Hastalıkları anlamına gelir. Bu ifade, genellikle Bernardini Ramazzini'nin 1700 yılında yazdığı ve işçi sağlığı ve meslek hastalıkları üzerine öncü bir çalışma olan De Morbis Artificum Diatriba adlı eserine atıfta bulunmak için kullanılır. Eserde, çeşitli mesleklerden insanların çalışma koşullarının sağlıkları üzerindeki etkilerini ve meslek hastalıklarını detaylı bir şekilde ele alır. Bu eser, modern iş sağlığı ve güvenliği alanının temellerini atan önemli bir çalışma olarak kabul edilir." />
            <!--<a ui-sref="forgot_password"><small>Şifrenizi Unuttunuz mu?</small></a>
            <p class="text-muted text-center"><small>Hesabınz Yok mu?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="#/register" ui-sref="register">Yeni Kullanıcı Kaydı</a>-->
        </div>
        <div>
            <p class="m-t"> <small>WSH+ &copy; 2019</small> </p>
            
            <small>Bu Program Dr Bülent Erdem Tarafından Yazılmıştır.</small>
            <p class="m-t"> <small>Bu Programın Hakları Yazarına Tescilli Olup İsmi ve İzni Olmadan Kullanılamaz.</small> </p>
        </div>
        <small> De Morbis Artificum Latince bir ifade olup, doğrudan çevirisi Ustaların Hastalıkları veya El Sanatçılarının Hastalıkları anlamına gelir. Bu ifade, genellikle Bernardini Ramazzini'nin 1700 yılında yazdığı ve işçi sağlığı ve meslek hastalıkları üzerine öncü bir çalışma olan De Morbis Artificum Diatriba adlı eserine atıfta bulunmak için kullanılır. Eserde, çeşitli mesleklerden insanların çalışma koşullarının sağlıkları üzerindeki etkilerini ve meslek hastalıklarını detaylı bir şekilde ele alır. Bu eser, modern iş sağlığı ve güvenliği alanının temellerini atan önemli bir çalışma olarak kabul edilir. </small>
    </div>


