<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  NOT:BURADAKİ VERİLER DEĞİŞTİRİLMİŞ VERİLERDİR.
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <!-- DefaultConnection ve DefaultConnectionAccess adlı iki farklı bağlantı dizesi bulunmaktadır. -->
	  <!-- DefaultConnection, SQL Server veritabanına erişim sağlar. -->
	  <!-- DefaultConnectionAccess, SQL Server veritabanına erişim sağlar. -->
	  <!-- adresimiziYaziyoruz.com kısmını kendi sunucu adresinizle değiştirin. -->
	  <!-- Veritabanı adı, kullanıcı adı ve şifre kısımlarını kendi veritabanı bilgilerinizle eşleştirin. -->
	  <!-- MSSQLSERVER2014 kısmını kendi SQL Server sürümünüze göre düzenleyin. -->
    <add name="DefaultConnection" connectionString="Data Source=adresimiziYaziyoruz.com\MSSQLSERVER2014;Initial Catalog=VeritabaniAdi_;User Id=KullaniciAdi;Password=sifremKulanicinin;" providerName="System.Data.SqlClient" />
	<add name="DefaultConnectionAccess" connectionString="Data Source=adresimiziYaziyoruz.com\MSSQLSERVER2014;Initial Catalog=VeritabaniAdi_;User Id=KullaniciAdi;Password=sifremKulanicinin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	  <!-- Aşağıdaki ayarlar ASP.NET ve diğer servisler için çeşitli yapılandırma anahtarları içerir. -->
	  <!-- Azure veya iCloud gibi bulut tabanlı hizmetler için gerekli başlatma ayarlarını içerir. -->
	  <!-- emailService:Account ve emailService:Password, e-posta hizmeti kimlik bilgilerini içerir. -->
	  <!-- as:AudienceId ve as:AudienceSecret, Azure hizmetleri için kimlik doğrulama bilgilerini içerir. -->
	  <!-- emailApiKey, e-posta hizmeti için API anahtarını içerir. -->
	  <!-- isAzureMailService, e-posta hizmetinin Azure üzerinde mi yoksa başka bir yerde mi olduğunu belirtir. -->
	  <!-- link, API ve depolama hizmeti bağlantılarını içerir. -->
	  <!-- storageLink, depolama hizmeti bağlantısını içerir. -->
	  <!-- SMS kullanımı için gerekli olan ayarları içerir: SMS_User, SMS_Password, SMS_Link ve SMS_Organisation. -->
	  <!-- FTP hizmeti için gerekli olan ayarları içerir: ftpUsername, ftpPassword, ftp_Link ve ftp_Work. -->
	  <!-- link ve storageLink içeriğini kendi hizmet bağlantılarınıza göre güncelleyin. -->
	  <!-- ftp_Link içeriğini kendi FTP bağlantınıza göre güncelleyin. -->
	  <!-- Kullanıcı adı, şifre ve diğer kimlik bilgilerini kendi servislerinizle eşleştirin. -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MigrateDatabaseToLatestVersion" value="true" />
	  <!-- 
    Bu ayarlar ASP.NET uygulamanızın davranışını yönetir.
    aspnet:UseTaskFriendlySynchronizationContext: Bu özellik, ASP.NET'in iş parçacığı senkronizasyon davranışını kontrol eder. Değer "true" olarak ayarlandığında,
	ASP.NET iş parçacığı dostu senkronizasyon bağlamı kullanılır, bu da varsayılan olarak asenkron işlemleri destekler.
	Bu, iş parçacığı havuzunun daha etkili kullanılmasını sağlar ve performansı artırabilir.
    MigrateDatabaseToLatestVersion: Bu özellik, Entity Framework Migration özelliğini etkinleştirir.
	Değer "true" olarak ayarlandığında, uygulama başlatıldığında veritabanının en son sürümüne otomatik olarak güncellenir.
	Bu, veritabanı şemalarında yapılan değişiklikleri uygulamaya uygulamak için kullanışlıdır ve uygulamanın veritabanı ile uyumlu olmasını sağlar.
-->
	  <!--AZUR İCLOUD BAŞLAMA AYARLARI-->
    <add key="emailService:Account" value="azure_3kjhskdjfhksdjhfksdjh@azure.com" />
    <add key="emailService:Password" value="fsdfsdfdsf" />
    <add key="as:AudienceId" value="414e192sdfdsfdsf1" />
    <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
    <!--<add key="storage:account:name" value="dfgdfgo" />
    <add key="storage:account:key" value="" />
    <add key="storageLink" value="https://idepo.blob.core.windows.net/" />
    <add key="link" value="http://splus.azurewebsites.net" />-->
    <add key="emailApiKey" value="SG.q9ssdfsdfds-sdfsdf-sdfsdf-sdf" />
    <add key="isAzureMailService" value="false" />
	  <!--AZUR AYARLARI -->
      <add key="link" value="https://api.adresin.com/" />
	  <add key="storageLink" value="http://adresin.com/" /> <!-- Sunucu tarafında httpdocs/uploads/ izinlerini yapılandırın   -->
	  <!--SMS Ayarları-->
	  <add key="SMS_User" value="kullaniciAdi" /> <!--Mutlucell api kullanılmaktadır. (https://www.mutlucell.com.tr/4-hizmetler/9-toplu-sms/)  -->
	  <add key="SMS_Password" value="smsSifresi" /> <!--Mutlucell api kullanılmaktadır.   -->
	  <add key="SMS_Link" value="https://api.adresin.com/" />
	  <add key="SMS_Organisation" value="kULLANİCİadİ" />
	  <!--FTP Ayarları-->
	  <add key="ftpUsername" value="kullaniciAdi" />
	  <add key="ftpPassword" value="ftppasaportun" />
	  <add key="ftp_Link" value="ftp://adresimiziYaziyoruz.com/httpdocs/uploads/" /> <!-- Sunucu tarafında FTP izinlerini yapılandırın   -->
	  <add key="ftp_Work" value="true" />	  <!-- Dosyaları ftpden kaydetmek için -->
  </appSettings>
  <!--  -->
  <!--
Sunucu tarafında FTP veya kullanıcı izinlerinin tamamı verilmelidir. 
Aksi halde sunucuya dosya yükleme veya alma işlemleri gerçekleştirilemez.
Dosyayı seçin ve FTP ile diğer kullanıcı izinlerini yazma ve okuma olarak verin.
Aksi takdirde, hiçbir dosyayı okuyamaz veya sunucuya gönderemezsiniz.
  -->
  <system.web>
	<sessionState timeout="300"></sessionState> <!--Oturum Zaman Aşımı Ayarı -->
	  <globalization uiCulture="tr" culture="tr-TR" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2147483647" executionTimeout="500" />
  </system.web>
	<!--    
***targetFramework: HTTP runtime'ın hedeflediği .NET Framework sürümünü belirtir.
***maxRequestLength: Maksimum istek boyutunu belirtir. Bu değer kilobayt (KB) cinsindendir ve uygulamanın kabul edebileceği maksimum istek boyutunu sınırlar.
***executionTimeout: Bir HTTP isteğinin maksimum işlem süresini (saniye cinsinden) belirtir.
Bu süre aşıldığında, istek iptal edilir.Güvenlik için kısa tutulmasına fayda var. 
Custom Errors: customErrors modu Off olarak ayarlanmış.
Bu, hata mesajlarının ayrıntılı olarak gösterilmesine izin verir ve genellikle
geliştirme aşamasında kullanılır. Ancak, güvenlik açısından üretim ortamında bu özelliği On yapmak veya 
RemoteOnly modunu kullanmak daha iyidir.  
   -->
  <system.webServer>	  
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
        <add enabled="true" mimeType="application/atom+xml" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    <httpProtocol>
      <customHeaders>
		  <!--    
 Access-Control-Allow-Origin başlığı tüm kökenlere (*) erişim izni verir. 
 Bu, uygulamanızın farklı kökenlerden gelen isteklere açık olduğu anlamına gelir.
burada domain sınırlaması yapabilirsin
           -->
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Allow,Authorization,X-Requested-With,Origin" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,PATCH,OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.SelfHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>		
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>