<div class="row wrapper border-bottom white-bg page-heading" ng-controller="personelHeadViewCtrl as phvC">
    <script type="text/ng-template" id="group-template.html">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a  href="javascript:void(0)" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="background-color: #555;" ng-transclude></div>
        </div>
    </script>
    <div class="col-lg-10">
        <div class="col-sm-4 m-t-md">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default"  is-open="status.open">
                    <uib-accordion-heading>
                        <span ng-bind="SirketBasligi.name"></span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="pull-right" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <treecontrol class="tree-light"
                                 tree-model="collectionSirket"
                                 options="treeOptions"
                                 expanded-nodes="expandList"
                                 on-selection="showSelected(node)">
                        <span ng-bind="node.name"></span>
                    </treecontrol>
                </div>
            </uib-accordion>
        </div>
        <div class="col-sm-4 m-t-md">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default" is-open="status.open2" template-url="group-template.html">
                    <uib-accordion-heading>
                        <span ng-bind="BolumBasligi.name"></span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="pull-right" ng-class="{'fa fa-chevron-down': status.open2, 'fa fa-chevron-right': !status.open2}"></i>
                    </uib-accordion-heading>
                    <div style="background-color: #555;">
                        <treecontrol class="tree-dark"
                                     tree-model="collectionBolum"
                                     options="treeOptions"
                                     on-selection="showSelectedBolum(node)">
                            <span ng-bind="node.name"></span>
                        </treecontrol>
                    </div>
                </div>
            </uib-accordion>
        </div>
        <div class="col-sm-4 m-t-md">
            <button type="button" class="btn btn-primary" ng-click="listeyeDon()"><i class="fa fa-forward"></i>&nbsp;Listeye Dön</button>
        </div>
    </div>
    <div class="col-lg-2">
        <img alt="image" class="img-thumbnail" ng-show="sdx" ng-click="FotoGetx()" ng-cloak ng-src="{{fileImgPath}}"  on-error="defaultUser.png" style="width: auto; height: auto;max-width: 75px;max-height: 90px;float:right" />
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" ng-controller="personelViewCrtl as vm">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="col-sm-6">
                        <h5>
                            Personel Kaydı:
                            <small data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                {{message}}
                            </small>
                            <span style="color:yellow" ng-bind="PersonelAdSoyadi">
                            </span>
                        </h5> 
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success btn-xs" ui-sref="SM.Prm({id:guidId,'#':lokal})" ng-if="vm.bilgi==true"><i class="fa fa-arrow-circle-left"></i> Periyodik Muayeneye Dön</a>                
                    </div>                 
                    <div class="col-sm-2" ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <button ui-sref=".GenericUpdate({id:guidId})" ui-sref-active="current" ng-class="$state.includes('Personel.Pers.GenericUpdate')?'btn btn-primary':'btn btn-default'">Kişisel</button>
                    <button ui-sref=".AdressUpdate({id:guidId})" ng-class="$state.includes('Personel.Pers.AdressUpdate')?'btn btn-primary':'btn btn-default'">Adres</button>
                    <button ui-sref=".CalismaDurumuUpdate({id:guidId})" ng-class="$state.includes('Personel.Pers.CalismaDurumuUpdate')?'btn btn-primary':'btn btn-default'">Çalışma Durumu</button>
                    <button ui-sref=".CalismaGecmisi({id:guidId})" ng-class="$state.includes('Personel.Pers.CalismaGecmisi')?'btn btn-primary':'btn btn-default'">Çalışma Geçmişi</button>
                    <button ui-sref=".EgitimHayati({id:guidId})" ng-class="$state.includes('Personel.Pers.EgitimHayati')?'btn btn-primary':'btn btn-default'">Eğitim Hayatı</button>
                    <button ui-sref=".DisRapor({id:guidId})" ng-class="$state.includes('Personel.Pers.DisRapor')?'btn btn-primary':'btn btn-default'">Dış Raporları</button>
                    <button ui-sref=".IcRapor({id:guidId})" ng-class="$state.includes('Personel.Pers.IcRapor')?'btn btn-primary':'btn btn-default'">İç Raporları</button>
                    <button ui-sref=".Ozurluluk({id:guidId})" ng-class="$state.includes('Personel.Pers.Ozurluluk')?'btn btn-primary':'btn btn-default'">Engellilik</button>
                    <button ui-sref=".IsgEgitimi({id:guidId})" ng-class="$state.includes('Personel.Pers.IsgEgitimi')?'btn btn-primary':'btn btn-default'">ISG Egitimi</button>
                    <button ui-sref=".Kkd({id:guidId})" ng-class="$state.includes('Personel.Pers.Kkd')?'btn btn-primary':'btn btn-default'">KKD</button>
                    <div ui-view style="background:#f0f7f3;padding:10px 5px;width: 100%;height: 100%;display: inline-flex;"></div>
                </div>
        </div>
    </div>
</div>
</div>
