<div class="row" >
    <span style="font-weight:700;font-size:x-large">Sn. {{Muayene.imzaliEreceteGirisReturn.ereceteDVOField.kisiDVOField.adiField}} {{Muayene.imzaliEreceteGirisReturn.ereceteDVOField.kisiDVOField.soyadiField}}</span>
</div>
<div class="row" >
    <span style="font-weight:900;font-size:xx-large">TC No:{{Muayene.imzaliEreceteGirisReturn.ereceteDVOField.tcKimlikNoField}}</span>
</div>
<div class="row" >
    <span style="font-weight:900;font-size:xx-large;color:crimson">E-Reçete No:{{Muayene.imzaliEreceteGirisReturn.ereceteDVOField.ereceteNoField}}</span>
</div>
<div class="row">
    <span style="font-weight:700;font-size:x-large">Sağlıklı Günler Diliyorum.</span>
</div>
<div class="row" >
    <span style="font-weight:700;font-size:x-large">Dr {{Muayene.imzaliEreceteGirisReturn.ereceteDVOField.doktorAdiField}} {{Muayene.imzaliEreceteGirisReturn.ereceteDVOField.doktorSoyadiField}} {{Muayene.imzaliEreceteGirisReturn.ereceteDVOField.receteTarihiField}} </span>
</div>
