
<style type="text/css">
    @page {
        size: A5;
        margin: 0mm;
    }

    html {
        background-color: #FFFFFF;
        margin: 0px;
    }

    body {
        font-family: GaGaramond'Times New Roman', serif;
        background-color: #FFFFFF;
        border: solid 1px black;
        margin: 0px;
        padding: 0px;
        -ms-filter: none;
        line-height: 1.45;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        height: 210mm;
        width: 148.5mm;
        font-size: x-small;
    }

    table.normal {
        table-layout: fixed;
        width: 100%;
        border: solid 3px #000000;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
        overflow: inherit;
        table-layout: fixed;
    }

        table.normal th {
            border: solid 1px #000000;
            word-wrap: break-word;
        }

        table.normal td {
            border: solid 1px #000000;
            vertical-align: top;
            word-wrap: break-word;
            padding-left: 6px;
        }


    .auto-style1 {
        text-align: center;
    }


    .auto-style3 {
        font-size: medium;
    }

    .auto-style6 {
        width: 190pt;
        text-align: left;
    }
</style>

<div style="margin: 20pt; border-style: none; overflow: inherit;">
    <div class="auto-style1">
        <strong class="auto-style1"><span class="auto-style3">Gebelik Muayene Bilgi Formu</span></strong>
    </div>
    <table style="width:100%;margin-top:10px;" class="normal">
        <tr>
            <td class="auto-style6">
                <p>İş Yeri:</p>
            </td>
            <td><p><span ng-bind="patient.kurumu"></span></p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Sağlık Birimi:</p>
            </td>
            <td><p> <span ng-bind="patient.saglikBirimi"></span>   </p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Tarih / Protokol:</p>
            </td>
            <td><p> <span ng-bind="patient.date"></span>&nbsp;/&nbsp;<span ng-bind="patient.Protokol"></span>   </p></td>
        </tr>
    </table>
    <table style="width:100%;margin-top:5px" class="normal">
        <tr>
            <td class="auto-style6">
                <p> Adı-Soyadı: </p>
            </td>
            <td><p>   <span ng-bind="patient.name"></span> </p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p> T.C. No:</p>
            </td>
            <td><p><span ng-bind="patient.tcNo"></span></p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Tanı:</p>
            </td>
            <td><p>  <span ng-bind="patient.tani"></span>   </p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                Doğum Tarihi +-3 gün:
            </td>
            <td><span ng-bind="patient.GebelikMuayenesi.DogumTarihi|date:'dd/MM/yyyy'"></span></td>
        </tr>
        <tr>
            <td class="auto-style6">
                Gebelik Öncesi Annede Mevcut Sistemik Hastalık Var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifGebelikOncesiHastalik">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifGebelikOncesiHastalik" ng-bind="patient.GebelikMuayenesi.gebelikOncesiHastalik"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Bir Önceki Gebelikte Hastalığı Var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifOncekiGebelikHastalik">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifOncekiGebelikHastalik" ng-bind="patient.GebelikMuayenesi.oncekiGebelikHastalik"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Çalışanın Koşullarında Gebelik İçin Risk Faktörü Var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifGebelikRiskFaktoru">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifGebelikRiskFaktoru" ng-bind="patient.GebelikMuayenesi.gebelikRiskFaktoru"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Sabah Kusmaları Var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifsabahKusmasi">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifsabahKusmasi" ng-bind="patient.GebelikMuayenesi.sabahKusmasi"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Sırt Ağrısı Var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifsirtAgrisi">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifsirtAgrisi" ng-bind="patient.GebelikMuayenesi.sirtAgrisi"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Varis veya diğer dolaşım problemleri, hemoroid Var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifvarisHemoroid">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifvarisHemoroid" ng-bind="patient.GebelikMuayenesi.varisHemoroid"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Sık ve ani tuvalet ihtiyacı var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.iftuvaletIhtiyaci">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.iftuvaletIhtiyaci" ng-bind="patient.GebelikMuayenesi.tuvaletIhtiyaci"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Beden ölçülerinin büyümesinden dolayı beceriklilik,koordinasyon, hareket etme hızı ve uzanmada zorluk var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifbedenOlcusu">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifbedenOlcusu" ng-bind="patient.GebelikMuayenesi.bedenOlcusu"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Yorgunluk, Stres var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifyorgunlukStress">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifyorgunlukStress" ng-bind="patient.GebelikMuayenesi.yorgunlukStress"></span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Islak ve kaygan zeminlerde yapılan çalışmalar var mı?:
            </td>
            <td>
                <span ng-if="!patient.GebelikMuayenesi.ifkayganzemin">Yok</span>
                <span ng-if="patient.GebelikMuayenesi.ifkayganzemin">Var</span>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                Muayene Değerlendirmesi:
            </td>
            <td>
                <span ng-bind="patient.GebelikMuayenesi.degerlendirme"></span>
            </td>
        </tr>
    </table>
    <div>
        <p>
            <strong>DÜZENLEYEN HEKİMİN</strong>
        </p>
        <span style="float: left;"><strong>ADI SOYADI :</strong></span>
        <span style="float: right; margin-right: 45px;"><strong>İMZASI</strong></span>
        <div style="clear: both;"></div>
        <strong>SİCİL NO :</strong><br />
        <strong>DİPLOMA :</strong><br />
        <strong>
            TESCİL NO :
        </strong>
    </div>
    <span style="font-size:5px">WSH+ &copy; 2017</span>
</div>