
<style type="text/css">
    @page {
        size: A5;
        margin: 0mm;
    }

    html {
        background-color: #FFFFFF;
        margin: 0px;
    }

    body {
        font-family: GaGaramond'Times New Roman', serif;
        background-color: #FFFFFF;
        border: solid 1px black;
        margin: 0px;
        padding: 0px;
        -ms-filter: none;
        line-height: 1.45;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        height: 210mm;
        width: 148.5mm;
        font-size: x-small;
    }

    table.normal {
        table-layout: fixed;
        width: 100%;
        border: solid 3px #000000;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
        overflow: inherit;
        table-layout: fixed;
    }

        table.normal th {
            border: solid 1px #000000;
            word-wrap: break-word;
        }

        table.normal td {
            border: solid 1px #000000;
            vertical-align: top;
            word-wrap: break-word;
            padding-left: 6px;
        }


    .auto-style1 {
        text-align: center;
    }


    .auto-style3 {
        font-size: medium;
    }

    .auto-style6 {
        width: 120pt;
        text-align: right;
    }
</style>

<div style="margin: 30pt; border-style: none; overflow: inherit;">
    <div class="auto-style1">
        <strong class="auto-style1"><span class="auto-style3">Meslek Hastalığı Bildirim Formu</span></strong>
    </div>
    <table style="width:100%;margin-top:10px" class="normal">
        <tr>
            <td class="auto-style6">
                <p>Tarih / Protokol:</p>
            </td>
            <td><p> <span ng-bind="patient.date"></span>&nbsp;/&nbsp;<span ng-bind="patient.Protokol"></span></p></td>
        </tr>        
        <tr>
            <td class="auto-style6">
                <p> Adı-Soyadı: </p>
            </td>
            <td ><p>   <span ng-bind="patient.name"></span> </p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p> T.C. No:</p>
            </td>
            <td ><p><span ng-bind="patient.tcNo"></span></p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Tanı:</p>
            </td>
            <td ><p>  <span ng-bind="patient.tani"></span>   </p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Çalışılan Ortam: </p>
            </td>
            <td ><p><span ng-bind="patient.mHastalik.ortam"></span></p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Meslek Hastalığı Saptanma Şekli:</p>
            </td>
            <td ><p><span ng-bind="patient.mHastalik.sekli"></span></p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Meslek Hastalığı Etkeni:</p>
            </td>
            <td ><p><span ng-bind="patient.mHastalik.etkeni"></span></p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>Meslek Hastalığı Etken Süresi:</p>
            </td>
            <td ><p> <span ng-bind="patient.mHastalik.etkenSuresi"></span>   </p></td>
        </tr>
        <tr>
            <td class="auto-style6">
                <p>İş Göremezlik Seviyesi:</p>
            </td>
            <td><p> <span ng-bind="patient.mHastalik.seviyesi"></span>   </p></td>
        </tr>
    </table>
    <div>
        <p>
            <strong>DÜZENLEYEN HEKİMİN</strong>
        </p>
        <p>
            <span style="float: left;"><strong>ADI SOYADI :</strong></span>
            <span style="float: right; margin-right: 45px;"><strong>İMZASI</strong></span>
        </p>
        <div style="clear: both;"></div>
        <p>
            <strong>SİCİL NO :</strong>
        </p>
        <p>
            <strong>DİPLOMA :</strong>
        </p>
        <p>
            <strong>
                TESCİL NO :
            </strong>
        </p>
    </div>
    <span style="font-size:5px">WSH+ &copy; 2017</span>
</div>