<div class="row"  >
    <span  style="font-weight:600;font-size:x-large">Sn. {{Muayene.AdSoyad}} </span>
</div>
<div class="row" >
    <span style="font-weight:400;font-size:x-large">20/6/2012 tarihli ve 6331 sayılı İş Sağlığı ve Güvenliği Kanunu kapsamında yer alan periyodik muayene (Sağlık Gözetimi) için fabrika revirine gelmeniz veya randevü almanız önemle rica olunur.</span>
</div>
<div class="row">
    <span style="font-weight:400;font-size:x-large">Sağlıklı Günler Dileklerimizle.</span>
</div>
