<div style="z-index:-10" class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Serbest.
    </div>
    <div>
        <strong>Copyright</strong>WSH+ &copy; 2016-2017
        <span> De Morbis Artificum Latince bir ifade olup, doğrudan çevirisi Ustaların Hastalıkları veya El Sanatçılarının Hastalıkları anlamına gelir. Bu ifade, genellikle Bernardini Ramazzini'nin 1700 yılında yazdığı ve işçi sağlığı ve meslek hastalıkları üzerine öncü bir çalışma olan De Morbis Artificum Diatriba adlı eserine atıfta bulunmak için kullanılır. Eserde, çeşitli mesleklerden insanların çalışma koşullarının sağlıkları üzerindeki etkilerini ve meslek hastalıklarını detaylı bir şekilde ele alır. Bu eser, modern iş sağlığı ve güvenliği alanının temellerini atan önemli bir çalışma olarak kabul edilir. </span>
    </div>
</div>
