<div ng-controller="allerjiCtrl  as allc" style="width:100%">
    <row>
        <table datatable="ng" id="allerji"  style="cursor:pointer"
               dt-options="dtOptionsallc" dt-column-defs="dtColumnDefsallc" class="table table-responsive  table-striped table-bordered table-hover dataTables-example row-border hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>No</th>
                    <th>Öyküsü</th>
                    <th>Çeşiti</th>
                    <th>Etken</th>
                    <th>Süre</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="allerji in Allerjiler">
                    <td ng-bind="allerji.Allerji_Id"></td>
                    <td ng-bind="allerji.$id"></td>
                    <td ng-bind="allerji.AllerjiOykusu"></td>
                    <td ng-bind="allerji.AllerjiCesiti"></td>
                    <td ng-bind="allerji.AllerjiEtkeni"></td>
                    <td ng-bind="allerji.AllerjiSuresi"></td>
                </tr>
            </tbody>
        </table>
    </row>
    <row>
        <div uib-collapse="isCollapsed" class="m-t-n-lg col-sm-12">
            <form ng-submit="allc.onSubmit()" novalidate>
                <formly-form model="allc.model" fields="allc.fields" form="allc.form">
                    <button type="submit" class="btn btn-primary submit-button" ng-disabled="allc.form.$invalid">Kaydet</button>
                    <button type="button" class="btn btn-success" ng-disabled="!allc.form.$valid" ng-click="yeniallc()">Yeni</button>
                    <button type="button" class="btn btn-danger" ng-disabled="!allc.form.$valid" ng-click="silallc()">Sil</button>
                    <button class="btn btn btn-warning" ngf-select="uploadFiles($files)" multiple
                            accept="image/*,application/pdf,application/msword,application/vnd.ms-excel,
application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ng-show="fileButtonShow">
                        Rapor Ekle
                    </button>
                </formly-form>
            </form>
        </div>
    </row>
    <row>
        <ul style="list-style-type: none;overflow: hidden;" ng-show="dosyaList">
            <li style="font:medium;color: mediumvioletred;float: left;margin-left:20px" ng-if="files.length>0?true:false">Eklenen Dosyalar :</li>
            <li ng-repeat="f in files" style="font:normal;float: left;margin-left:20px">
                <a ng-click="download(f)" ng-bind="f.FileName" tooltip-placement="bottom" uib-tooltip="İndir" tooltip-popup-delay="2500"></a>
                <i class="fa fa-remove" ng-click="deleten(f.GenericName , $index)" tooltip-placement="bottom" uib-tooltip="Sil" tooltip-popup-delay="2500"> </i>
            </li>
        </ul>
    </row>
</div>