<div ng-controller="soyGecmisiCtrl  as Sgc" style="width:100%">
    <row>
        <table datatable="ng" id="soyGecmisi"  style="cursor:pointer"
               dt-options="dtOptionsSgc" dt-column-defs="dtColumnDefsSgc" class="table table-responsive  table-striped table-bordered table-hover dataTables-example row-border hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>No</th>
                    <th>Akrabalık</th>
                    <th>Hastalık</th>
                    <th>ICD10</th>
                    <th>Aktifmi</th>
                    <th>Yaşı</th>
                    <th>Başlama Yaşı</th>
                    <th>Ölum Nedeni</th>
                    <th>Ölum Yaşı</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="soyGecmisi in SoyGecmisleri">
                    <td ng-bind="soyGecmisi.SoyGecmisi_Id"></td>
                    <td ng-bind="soyGecmisi.$id" style="width:5%"></td>
                    <td ng-bind="soyGecmisi.AkrabalikDurumi" style="width:20%"></td>
                    <td ng-bind="soyGecmisi.HastalikAdi" style="width:25%"></td>
                    <td ng-bind="soyGecmisi.ICD10" style="width:25%"></td>
                    <td ng-bind="evetHayir(soyGecmisi.HastalikSuAnAktifmi)" style="width:5%"></td>
                    <td ng-bind="soyGecmisi.AkrabaninYasi" style="width:5%"></td>
                    <td ng-bind="soyGecmisi.AkrabaninHastaOlduguYas" style="width:5%"></td>
                    <td ng-bind="soyGecmisi.OlumNedeni" style="width:5%"></td>
                    <td ng-bind="soyGecmisi.OlumYasi" style="width:5%"></td>
                </tr>
            </tbody>
        </table>
    </row>
    <row>
        <div uib-collapse="isCollapsed" class="m-t-n-lg col-sm-12">
            <form ng-submit="Sgc.onSubmit()" novalidate>
                <formly-form model="Sgc.model" fields="Sgc.fields" form="Sgc.form">
                    <button type="submit" class="btn btn-primary submit-button" ng-disabled="Sgc.form.$invalid">Kaydet</button>
                    <button type="button" class="btn btn-success" ng-disabled="!Sgc.form.$valid" ng-click="yeniSgc()">Yeni</button>
                    <button type="button" class="btn btn-danger" ng-disabled="!Sgc.form.$valid" ng-click="silSgc()">Sil</button>
                    <button class="btn btn btn-warning" ngf-select="uploadFiles($files)" multiple
                            accept="image/*,application/pdf,application/msword,application/vnd.ms-excel,
application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ng-show="fileButtonShow">
                        Rapor Ekle
                    </button>
                </formly-form>
            </form>
        </div>
    </row>
    <row>
        <ul style="list-style-type: none;overflow: hidden;" ng-show="dosyaList">
            <li style="font:medium;color: mediumvioletred;float: left;margin-left:20px" ng-if="files.length>0?true:false">Eklenen Dosyalar :</li>
            <li ng-repeat="f in files" style="font:normal;float: left;margin-left:20px">
                <a ng-click="download(f)" ng-bind="f.FileName" tooltip-placement="bottom" uib-tooltip="İndir" tooltip-popup-delay="2500"></a>
                <i class="fa fa-remove" ng-click="deleten(f.GenericName , $index)" tooltip-placement="bottom" uib-tooltip="Sil" tooltip-popup-delay="2500"> </i>
            </li>
        </ul>
    </row>
</div>