<div ng-controller="periyodikMuayeneCtrl  as pmC">
    <div class="row wrapper border-bottom white-bg page-heading" style="position:relative;z-index:10">
        <div class="col-sm-4 m-t-sm">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default" is-open="status.open">
                    <uib-accordion-heading>
                        <span  class="maviFont" ng-bind="SirketBasligi.name"></span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="pull-right maviFont" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <treecontrol class="tree-light"
                                 tree-model="collectionSirket"
                                 options="treeOptions"
                                 expanded-nodes="expandList"
                                 on-selection="showSelected(node)">
                        <span class="maviFont" ng-bind="node.name"></span>
                    </treecontrol>
                </div>
            </uib-accordion>
        </div>
        <div class="col-sm-3 m-t-sm form-group">
            <label class="col-sm-4 m-t-sm control-label" style="text-align: right">Yıl:</label>
            <div class="col-sm-8">
                <select class="form-control maviFont" ng-model="pmC.year"
                        ng-options="z for z in ['2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027','2028','2029']"></select>
            </div>
        </div>
        <div class="col-sm-2 m-t-sm form-group">
            <label class="col-sm-3 m-t-sm control-label" style="text-align: right">Ay:</label>
            <div class="col-sm-9">
                <select class="form-control maviFont" ng-model="pmC.ay"
                        ng-options="z as z.adi for z in pmC.aylarT"></select>
            </div>
        </div>
        <div class="col-sm-3 m-t-sm form-group">
            <label class="col-sm-3 m-t-sm control-label" style="text-align: right">Grubu:</label>
            <div class="col-sm-9">
                <select class="form-control maviFont" ng-model="pmC.grup"
                        ng-options="z as z.adi for z in pmC.gruplari"></select>
            </div>
        </div>
    </div>
    <div class="animated fadeInRight">
        <div wrapper wrapper-content>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{pmC.sirketAdi}} {{pmC.year}} Yılı {{pmC.ay.adi}} Ayı Periyodik Muayene Değerlendirme Raporu</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" id="ay" style="cursor:pointer"
                           dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-responsive  table-striped table-bordered table-hover dataTables-example row-border hover">
                        <thead>
                            <tr>
                                <th>Tc No</th>
                                <th>Adı Soyadı</th>
                                <th>Bölüm Adı</th>
                                <th>Vardiyası</th>
                                <th>Mail</th>
                                <th>SMS</th>
                                <th>Tarih</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prm in pmC.raporlar">
                                <td ng-bind="prm.TcNo"></td>
                                <td><a ui-sref="SM.SMCards({id:prm.TcNo})">{{prm.Adi+' '+ prm.Soyadi}}</a></td>
                                <td ng-bind="prm.BolumAdi"></td>
                                <td ng-bind="prm.Vardiyasi"></td>
                                <td><a class="btn btn-primary btn-xs" ng-click="pmC.sendPmBilgiMaili(prm.Adi+' '+prm.Soyadi,prm.Mail)">Mail</a></td>
                                <td><a class="btn btn-success btn-xs" ng-click="pmC.sendPmBilgiSMS(prm.Soyadi,prm.Telefon)">SMS</a></td>
                                <td ng-bind="prm.Tarih|date:'dd/MM/yyyy'"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .cropArea {
        overflow: hidden;
        width: 400px;
        height: 300px;
    }
</style>
